* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main{
    background-color: white;
    height: 80vh;
    width: 70vh;
    margin: 1rem auto;
    border-radius: 5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #000;
}

.result {
    background: #000;
    color: white;
    grid-row: 1;
    grid-column: 1/span 4;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

p {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uguale {
    background-color: red;
    grid-column: 4/5;
    grid-row: 3/ span 4;
}

.f-row {
    background-color: gainsboro;
}

